<!DOCTYPE html>
<html>
<head>
  <title>Landing</title>
</head>
<body>
  <div class="card m-3 animated fadeInUp">
    <div class="card-body">
      <h2>Abstract</h2>
      <p>Freshwater planarians are invertebrate animals famous for their regenerative
          ability. They exhibit a body plan similar to vertebrates that include bilateral symmetry with
          head and tail and most importantly an aggregated of nerve cells in the head containing
          many neurotransmitters and neurotransmitter receptors commonly found in higher order
          species. By exploiting these characteristics, this research utilizes the planarian animal
          model to construct a tool for the pharmacological and toxicological screening of control
          substances. The ultimate goal of this project is to help forensic science practitioners and
          lawmakers better understand the pharmacological profile of drugs including the endless
          stream of novel designer compounds that a major concern to law enforcement and society.
          Results focus on presenting and discussing both locomotion and behavioral activity
          exhibited by numerous classes of drugs; explaining expected and deviations from classical
          behavior, and behavioral descriptions from exposure to new drugs previously not tested in
          this animal model system.</p>
    </div>
  </div>
  <div clas="container-fluid">
  <div class="animated fadeInUp card-deck m-2">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/planarianbisec.png">
      <div class="card-body">
        <h5 class="card-title">Anatomy</h5>
        <p class="card-text">
            Planarians are free-living flatworms of the
            phylum Platyhelminthes and under the class of Turbellaria. These
            animals are one of the simplest organisms that exhibit multiple
            tissue layers, bilateral symmetry and distinctive organs.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Image Courtesy of Pearson Education. Inc</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/nervousbisec.png">
      <div class="card-body">
        <h5 class="card-title">Nervous System</h5>
        <p class="card-text">
            One of the key anatomical features
            of interest in this study is the organism’s possession of a
            central nervous system. The planarian nervous system exhibits complex
            and organized nervous tissues that are generally found in higher organisms; the system
            consists of bi-lobed cerebral ganglia at the anterior end and two longitudinal nerve cords
            that underlie the ventral body-wall-musculature. 
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Image Courtesy of Agata & Umesono, et al. 2008</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/asexualrepro.png">
      <div class="card-body">
        <h5 class="card-title">Regeneration</h5>
        <p class="card-text">
          Planarians are most commonly used in regeneration experiments
            due to their developmental plasticity. This ability allows
            planarians to regenerate from damages that are often times fatal
            to other organisms such as decapitation or dismemberment by the
            expressing multiple stem cells, known as neoblasts, throughout
            its body that proliferates lost structures and allows them to
            duplicate asexually.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Image Courtesy of Randolph & Morgan 1897</small>
      </div>
    </div>
  </div>
  </div>
</body>
</html>