<!DOCTYPE html>
<html>
<head>
  <title>Thesis & Citation</title>
</head>
<body>
  <div class="animated fadeInUp container">
    <h3 class="text-center">All Reference Citations and Original Thesis</h3>
    <h4 class="text-center">can be download and view here!</h4>
    <div class="d-flex justify-content-center">
      <a href="../../assets/documents/Leo Lai Thesis Draft Final.pdf" download>
        <img src="../../assets/images/dlbuttongray.png" alt="W3Schools">
      </a>
    </div>
    <br>
    <div>
      <h5 class="text-center">© Dr. Jay R. Vargas & Leo Lai in Association with 
      <img class="pubmedsize" src="../../assets/images/PubMedLogo.png"></h5>
    </div>
  </div>
  <p></p>
  <br>
  <p></p>
  <br>
  <p></p>
  <br>
  <p></p>
  <br>
  <p></p>
  <br>
  <p></p>
  <br>
</body>
</html>