<!DOCTYPE html>
<html>
<head>
  <title>Material & Methods</title>
</head>
<body>
<div class="container">
  <div class="animated fadeInUp" id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Animal preparation
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>
            Planarians species used was Dugesia dorotocephala, which were purchased from
              Carolina Biological Supply (Burlington, NC). Planarians, upon arrival, were transferred
              to plastic Ziploc® containers with diluted salt water, 0.5 g/L Instant Ocean Salts
              (Spectrum Brands) with Milli-Q® Ultrapure water (18.2 MΩ) and kept in an
              environmental chamber at a constant temperature (21° C) in the dark. Animals were
              allowed 24 to 48 hours to acclimate to the laboratory conditions before any experiment
              was performed. Experimentation was done typically within one week in the laboratory
              and animals not being tested or used are fed with fresh commercially available organic
              beef liver as their water solution changed on a weekly basis. All containers used are
              washed or soaked with Milli-Q® Ultrapure water to reduce possible plasticizers
              contamination. When experiments are ready to be performed again, animals are starved
              for a period of seven days before testing. 
          </p>
          <img id="matimg" src="../assets/images/Materials.png">
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Drug preparation
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
        <p>
          Instant Ocean Salt Distilled Water Solution was first prepared as the source of the
          solution in which the animals will be placed in for control testing. The solution was first
          made by mixing 1 liter of Milli-Q® Ultrapure water (18.6 MΩ at 25° C) with 0.500 g of
          Instant Ocean Salt in a 1-liter plastic bottle container. All bottle containers were regularly
          washed with Ultrapure water and air dried. Instant Ocean Salt was always stored in a 
          pressure sealed plastic container to avoid possible moisture contamination, when damped
          all salts are replaced. Reagents are bought with different companies listed in Table 1.
        </p>
        <img id="matimg" src="../assets/images/Materialprep.png">
        <p>Once planarians, in control conditions (Instant ocean salt solution only), were
          shown to behave within the range of historical locomotion activity the desired reagent for
          testing was prepared by first by evaporating the original solvent with nitrogen gas and resolubilized
          in 0.5 ml of PEG400 (Polyethylene Glycol). This stock solution was then
          vortexed and sonicated. The stock solution was then used to create: 2 µg/ml, 5 µg/ml, 15
          µg/ml, 30 µg/ml, 60 µg/ml, and 120 µg/ml using diluted salt water solution to create
          working test solutions. PEG400 had shown to have good biocompatibility and tolerance
          in comparison to many other solvents tested with the planarians alone in previous
          experiments to be our choice for the solvent system in these experiments. 
        </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Original Drugs Tested [Table 1] 
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Reagents</th>
                <th scope="col">Company</th>
                <th scope="col">Catalog Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Morphine</th>
                <td>Cerilliant©</td>
                <td>M-005</td>
              </tr>
              <tr>
                <th scope="row">Furanyl Fentanyl</th>
                <td>Cayman Chemical©</td>
                <td>18705</td>
              </tr>
              <tr>
                <th scope="row">S(+)-amphetamine</th>
                <td>Cerilliant©</td>
                <td>A-008</td>
              </tr>
              <tr>
                <th scope="row">R(-)-amphetamine</th>
                <td>Cerilliant©</td>
                <td>A-049</td>
              </tr>
              <tr>
                <th scope="row">Methamphetamine</th>
                <td>Cerilliant©</td>
                <td>M-009</td>
              </tr>
              <tr>
                <th scope="row">Secobarbital</th>
                <td>Cerilliant©</td>
                <td>S-002</td>
              </tr>
              <tr>
                <th scope="row">Delta-9-THC</th>
                <td>Cayman Chemical©</td>
                <td>12068</td>
              </tr>
              <tr>
                <th scope="row">MA-CHMINACA</th>
                <td>Cayman Chemical©</td>
                <td>16421</td>
              </tr>
              <tr>
                <th scope="row">JWH-133</th>
                <td>Cayman Chemical©</td>
                <td>10005428</td>
              </tr>
              <tr>
                <th scope="row">Cocaine</th>
                <td>Sigma-Aldrich©</td>
                <td>C5776</td>
              </tr>
              <tr>
                <th scope="row">Zolpidem</th>
                <td>Cerilliant©</td>
                <td>Z-017</td>
              </tr>
              <tr>
                <th scope="row">25I-NBOMe</th>
                <td>Cerilliant©</td>
                <td>C-131</td>
              </tr>
            </tbody>
        </table>
        </div>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
    <button [routerLink]="['/intelligence']" type="button" class="btn btn-danger">Back</button>
    </div>
    <br>
  </div>
</div>
</body>
</html>