<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
<div class="animated fadeInUp container">
  <h3 class="text-center">Who We Are</h3>
	<div class="row">
		<div class="col">
      <div class="animated fadeInLeft card hovercard">
        <div class="cardheader"></div>
          <div class="avatar">
            <img src="../../assets/images/professorjrv.jpg">
          </div>
          <div class="info">
            <div class="title">
              <a target="_blank" href="http://www.calstatela.edu/hhs/crim/faculty-jay-r-vargas-phd">Jay R. Vargas, PhD, BS</a>
            </div>
              <div class="desc">Doctor of Pharmacology & Toxicology</div>
              <div class="desc">Toxicology Professor</div>
              <div class="desc">Medical & Forensic Chemist</div>
          </div>
          <div class="bottom">
            <a class="btn btn-info btn-twitter btn-sm" href="http://www.calstatela.edu/hhs/crim/faculty-jay-r-vargas-phd">
              <i class="fas fa-home"></i>
            </a>
            <a class="btn btn-primary btn-sm" rel="publisher"
                href="https://www.linkedin.com/in/jay-r-vargas-807a5b8/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
      <div class="animated fadeInRight card hovercard">
          <div class="cardheader"></div>
            <div class="avatar">
              <img src="../../assets/images/me.jpg">
            </div>
            <div class="info">
              <div class="title">
                <a target="_blank" href="#">Leo H. Lai, BS</a>
              </div>
                <div class="desc">Bachelor of Science in Biochemistry</div>
                <div class="desc">Full-Stack Developer</div>
                <div class="desc">Laboratory Specialist</div>
            </div>
            <div class="bottom">
              <a class="btn btn-info btn-twitter btn-sm" href="http://leohlai.info/">
                <i class="fas fa-home"></i>
              </a>
              <a class="btn btn-dark btn-twitter btn-sm" href="https://github.com/leolai2010">
                <i class="fab fa-github"></i>
              </a>
              <a class="btn btn-danger btn-sm" rel="publisher"
                href="https://drive.google.com/file/d/0B2tPYKyCIFKXZ2hpYUpxSXN5c0JZSXZSWGpVTE5TZlMxVksw/view?usp=sharing">
                <i class="fas fa-file"></i>
              </a>
              <a class="btn btn-primary btn-sm" rel="publisher"
                  href="https://www.linkedin.com/in/leo-lai-2010/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>
  </div>
  <div>
    <div class="card-body">
        <h3 class="text-center">Why We Do</h3>
        <p>Designer drugs, also known as synthetic drugs or novel psychoactive substances (NPS), 
          are often structural analogs, stereoisomers, or derivatives of a controlled substances 
          chemically produced and specifically designed to mimic the pharmacological effects of 
          drugs of abuse while trying to avoid the law from been classified or detected as such. 
          Nevertheless, in the United States of America, designer drugs have been gaining traction 
          and becoming widespread due to the relative ease at which one can obtain materials for 
          synthesis both internationally and domestically thus causing difficulty in legislating 
          new compounds once law enforcement encounters them on the street. Drug traffickers will 
          work around scheduling actions by modifying chemical formulas to create new, unregulated, 
          and unscheduled drugs. Current legislation is facing the problem that synthetic drugs and 
          human consumption of these drugs create largely unknown pharmacological effects. Lawmakers 
          need to consider such implications on scheduling certain synthetic drugs, whether the substance 
          merits the scheduling based on qualification specified in Controlled Substance Act. 
          Our aim is to create a screening tool base on the planarian animal model in the hopes of it 
          becoming a low-cost alternative animal model that will allow for pharmacological 
          and toxicological characterization of drugs of abuse, including designer drugs.
        </p>
        <h3 class="text-center">Outlined Purpose</h3>
        <img class="pimagea" src="../../assets/images/purpose.png"/>
      </div>
  </div>
</div>
</body>
</html>
